<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <div class='flashes'><%= flash[:notice] %></div>
  <div class='flashes'><%= flash[:error] %></div>
  <div class='flashes'><%= flash[:errors] %></div>

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Restaurants", restaurants_path %></li>
    </ul>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id] %>
          <li><%= link_to "My orders", user_online_orders_path(current_user)%></li>
          <li><%= link_to "My Profile", user_path(current_user)%></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Register", new_user_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
        <li><a href="/cart"><i class="glyphicon glyphicon-shopping-cart" style="font-size: 20px;"></i></a></li>
      </ul>
    </div>
   </div>
  </div>
</nav>
