<h1>Details for Order #<%= @order.id %></h1>

<table class="tg">
  <tr>
    <th class="tg-e3zv">Name: <br>Email: <br>Order status: <br>Order created: </th>
    <th class="tg-031e" colspan="3"><%= @order.user.full_name %><br><%= @order.user.email_address %><br><%= @order.make_status_readable %><br><%= @order.user.created_at.strftime("%d %b. %Y at %l:%M %p") %></th>
  </tr>
  <tr>
    <td class="tg-e3zv">Item</td>
    <td class="tg-e3zv">Unit Price</td>
    <td class="tg-e3zv">Quantity</td>
    <td class="tg-e3zv">Quantity Price</td>
  </tr>
  <% @order.order_items.each do |order_item| %>
  <tr>
    <td class="tg-031e"><%= link_to order_item.item.name, restaurant_item_path(order_item.item.restaurant, order_item.item) %></td>
    <td class="tg-031e"><%= number_to_currency(order_item.item.price) %></td>
    <td class="tg-031e"><%= order_item.quantity %></td>
    <td class="tg-031e"><%= order_item.line_total %></td>
  <% end %>
  </tr>
  <tr>
    <td class="tg-0ord" colspan="3">Total: </td>
    <td class="tg-e3zv"><%= number_to_currency(@order.total) %></td>
  </tr>
</table>
