<% if current_user && current_user.verify?("admin", @restaurant) %>
  <%= link_to "Edit Category", edit_restaurant_category_path(@restaurant, @category) %>
  <%= link_to "Delete Category", restaurant_category_path(@restaurant, @category), method: :delete %>
<% end %>

<h1> <%= @category.name %> </h1>

<div class="row text-center">
  <% @category.items.each do |item| %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <%= link_to restaurant_item_path(@restaurant, item) do %>
          <%= image_tag item.image.url(:medium), {class: "menu_cart_img"} %>
          <!-- <img src="http://whatscookingamerica.net/History/RockyMtnOysters4.jpg" alt="Mountain View" style="width:auto;height:45%"> -->
        <% end %>
        <div class="caption">
          <h4 id="restaurant-titles"> <%= link_to item.name, restaurant_item_path(@restaurant, item) %> </h4>
          <p> <%= item.description %></p>
        </div>
        <%= form_tag '/add_item', method: :get do %>
          <%= hidden_field_tag :item_id, item.id  %>
          <%= hidden_field_tag :restaurant_id, @restaurant.id  %>
          <%= button_tag(:class => "btn btn-default btn-sm", :id => "cart_button") do %>
            add to cart <span class="glyphicon glyphicon-shopping-cart" ></span>
          <% end %>
        <% end %>
        <p><%= number_to_currency(item.price) %> </p>
      </div>
    </div>
  <% end %>
</div>
